.treeItem {
   display: inline-block;
   border: 1px solid #aaa;
   min-width: 250px;
   background-color: white;
   padding: 12px 10px;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 #888;
   margin: 10px 0;
   position: relative;
}

.collapseButton {
   padding: 0 5px;
   margin: 0 5px;
   border: 1px solid lightgrey;
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 10px;
   border-radius: 5px;
   box-shadow: 0 0 1px 0 #888;
}
