.container {
   display: flex;
}

.handle {
   background-color: white;
   padding: 8px;
   box-shadow: 0 0 4px 0 #333 inset;
   border-radius: 8px;
   margin-right: 8px;
   font-size: 10px;   
}

.text {
   margin: auto 0 auto 0;
}