.treeItemAlt {
   display: inline-block;
   border: 1px solid white;
   min-width: 250px;
   background-color: #555;
   color: white;
   padding: 12px 10px;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 white;
   margin: 10px 0;
}

.limble-tree-handle {
   display: inline-block;
   font-size: 20px;
   font-weight: 900;
   border: 1px solid lightgrey;
   padding: 0 6px;
   margin-right: 5px;
   cursor: move;
}
