.treeItemAlt {
   display: inline-block;
   border: 1px solid white;
   min-width: 250px;
   background-color: #555;
   color: white;
   padding: 12px 10px;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 white;
   margin: 10px 0;
}
