.page-container {
   padding: 32px;
}

h1 {
   margin-top: 0;
}

.tree-container {
   padding: 32px;
   box-shadow: 0 0 8px 0 #888 inset;
   border-radius: 8px;
   max-width: 1000px;
   margin-bottom: 16px;
}

.divider {
   display: flex;
   justify-content: space-between;
}

.events {
   width: 10%;
   max-width: 200px;
   min-width: 50px;
   text-align: right;
}

.tree {
   min-width: 256px;
}