<mat-toolbar color="primary">
   <span class="toolbar-icon">
      <mat-icon fontIcon="account_tree"></mat-icon>
   </span>
   <span>Limble Tree Sandbox</span>
   <div class="toolbar-spacer"></div>
   <span class="toolbar-icon">
      <mat-icon fontIcon="github"></mat-icon>
   </span>
</mat-toolbar>
<div class="page-container">
   <h2>Tree 1</h2>
   <div class="tree-container">
      <div class="divider">
         <div class="tree">
            <div #treeContainer></div>
         </div>
         <div class="events">
            <strong> Events </strong>
            <div *ngFor="let event of events$ | async">
               {{ event.type }}
            </div>
         </div>
      </div>
   </div>
   <h2>Tree 2</h2>
   <div class="tree-container" (dragover)="showRootDropzone()">
      <div class="divider">
         <div class="tree">
            <div #treeContainer2></div>
         </div>
         <div class="events">
            <strong> Events </strong>
            <div *ngFor="let event of events2$ | async">
               {{ event.type }}
            </div>
         </div>
      </div>
   </div>
   <button mat-raised-button color="primary" (click)="resetTrees()">
      Reset all trees
   </button>
</div>
