.page-container {
   padding: 32px;
}

.toolbar-icon {
   margin-right: 16px;
   font-size: 32px;
}

.tree-container {
   padding: 32px;
   border-radius: 8px;
   max-width: 1000px;
   margin-bottom: 32px;
   border: 1px solid #ccc;
}

.divider {
   display: flex;
   justify-content: space-between;
}

.events {
   width: 10%;
   max-width: 200px;
   min-width: 50px;
   text-align: right;
}

.tree {
   min-width: 256px;
}
