<h2>Limble Tree</h2>
<div class="container">
   <div style="min-width: 40%; padding-right: 5%">
      <h3>Rendered Tree</h3>
      <limble-tree-root
         [data]="treeData"
         [options]="treeOptions"
         (treeChange)="treeChangeHandler()"
         (treeDrop)="treeDropHandler($event)"
         #tree
      ></limble-tree-root>
      <br />
      <button (click)="addNode({ value1: 'extra thing' })">Add Node</button>
   </div>
   <div style="min-width: 50%">
      <h3>
         Data Object
         <span style="font-weight: normal">
            (does not show component <em>class</em> property)
         </span>
      </h3>
      <div class="jsonOutput">
         {{ limbleTreeDataString }}
      </div>
   </div>
</div>
