.container {
   border: 1px solid grey;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 #888;
   padding: 20px;
   background-color: #fafafa;
}

.treeItem {
   display: "inline-block";
   border: 1px solid #aaa;
   width: 250px;
   background-color: white;
   padding: 12px 10px;
   border-radius: 5px;
   box-shadow: 0 0 4px 0 #888;
}
