<tree-node>
   <div class="container">
      <button
         type="button"
         class="collapse-button"
         [attr.aria-expanded]="!collapsed"
         [attr.aria-label]="collapsed ? 'Expand children' : 'Collapse children'"
         (click)="toggle()"
      >
         @if (!collapsed) {
            <span>
               <mat-icon fontIcon="expand_less" aria-hidden="true" />
            </span>
         }
         @if (collapsed) {
            <span>
               <mat-icon fontIcon="expand_more" aria-hidden="true" />
            </span>
         }
      </button>
      <div>
         This is a collapsible component. Click the arrow to collapse/expand
         children.
      </div>
   </div>
</tree-node>
