<tree-node>
   <div class="container">
      <button class="collapse-button" (click)="toggle()">
         @if (!collapsed) {
            <span>
               <mat-icon fontIcon="expand_less" />
            </span>
         }
         @if (collapsed) {
            <span>
               <mat-icon fontIcon="expand_more" />
            </span>
         }
      </button>
      <div>
         This is a collapsible component. Click the arrow to collapse/expand
         children.
      </div>
   </div>
</tree-node>
